Уважаемый(ая) {{=name}},

Спасибо, что заполнили анкету. Пожалуйста, найдите Вашу заполненную анкету в приложении к письму. 
Напоминаем, что Вам необходимо распечатать анкету и, приклеив на нее свою фотографию 3х4, прийти с ней на экзамен.

Экзамен для определения группы будет проводиться 17 августа:

14:00-15.00 – письменный экзамен

16:00 – устный экзамен

Для сдачи экзамена необходимо прийти строго до 13.50. Опоздавшие к экзамену допущены не будут. Устный экзамен сдают только те, кто сдавал письменный.

Не успевшие сдать в этот день экзамен не будут зачислены в группы.

Если у Вас появились вопросы, пожалуйста, напишите нам на help.won-moscow@mail.ru.
 
С уважением, 
школа Вон Гван (учебный центр Седжон)