{{extend 'layout.html'}}

<h1>This is the news/index.html template</h1>
{{for item in news:}}
<table>
    <tr>
        <td colspan="2">{{=item.newstitle}}</td>
    </tr>
    <tr>
        <td><img src="{{=URL('download', args=item.image)}}" /></td>
        <td><img src="{{=URL('download', args=item.image_thumb)}}" /></td>
    </tr>
    <tr>
        <td colspan="2">{{=XML(item.newstext)}}</td>
    </tr>
    <tr>
        <td colspan="2">{{=XML(item.abstract)}}</td>
    </tr>
</table>
<hr />
{{=item.newstitle}}
{{pass}}
{{#=BEAUTIFY(response._vars)}}